<h2>パスワードが思い出せない方</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "パスワードの確認メールを送る" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
